body {background: #ff0;}
.img{
	max-height: 100%;
	max-width: 100%;
	width:150px;
	height:150px;
	background-size: cover;
	background-image:none;
	float: left;
}.img {  
    mix-blend-mode:multiply;

   }
